body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  transition: all 0.3s ease;
}

.main {
  margin: 100px 100px;
}
h2 {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}
.list {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: none;
  padding: 1px;
  min-height: 450px;
}

.list-items {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list .list-items p {
  color: hsla(0, 0%, 100%, 0.75);
  flex-grow: 1;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: auto;
  padding-bottom: 20px;
}

#item1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
}
#item1 button {
  color: hsl(31, 77%, 52%);
}
#item1 button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
#item2 {
  background-color: hsl(184, 100%, 22%);
}
#item2 button {
  color: hsl(184, 100%, 22%);
}
#item2 button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
#item3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
}
#item3 button {
  color: hsl(179, 100%, 13%);
}
#item3 button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
button {
  border-radius: 20px;
  border: transparent;
  width: 100px;
  height: 30px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: 2px solid hsl(0, 0%, 95%);
  transition: all 0.3s ease;
}

img {
  height: 25px;
}

@media only screen and (max-width: 480px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .main {
    margin: 70px 20px;
  }
  #item3 {
    border-radius: 0 0 8px 8px;
  }
  #item1 {
    border-radius: 8px 8px 0 0;
  }
}
